TextRewriter/TextRewriter/obj/
TextRewriter/TextRewriter/bin/
TextRewriter/TextRewriterTest/bin/
TextRewriter/TextRewriterTest/obj/
TextRewriter/packages/
TextRewriter/TextRewriterWinClient/obj/
TextRewriter/TextRewriterWinClient/bin/
